@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using AmazonStartUp.Models;
@model Book;

<div class="card bg-info mb-3">
    <div class="card-body">
        <h3 class="text-white">@Model.Title</h3>
        <div class="row col-12">
            <div class="text-white col-12">Author: @Model.GetDisplayName()</div>
        </div>
        <div class="row col-12">
            <div class="text-white col-12">$@Model.Price</div>
        </div>
        <div class="row col-12">
            <div class="text-white col-12">ISBN: @Model.ISBN</div>
        </div>
        <div class="row col-12">
            <div class="text-white col-12">@Model.Classification, @Model.Category</div>
        </div>
        <div class="row col-12">
            <div class="text-white col-12">Pages: @Model.Pages</div>
        </div>
        <div class="row col-12">
            <div class="text-white col-12">Publisher: @Model.Publisher</div>
        </div>
    </div>

    <div class="d-flex justify-content-start p-3">
        <form id="@Model.BookId " asp-page="/Cart" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button class="btn-success">
                Buy
            </button>
        </form>
    </div>
</div>