@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<div class="text-center">
    <h1 class="display-4">Amazon Book Store</h1>
</div>

<div class="card-columns">
    @foreach (Book b in Model)
    {
        <div class="card bg-info">
            <div class="card-body">
                <h3 class="text-white">@b.Title</h3>
                <div class="row col-12">
                    <div class="text-white col-6">ISBN: @b.ISBN</div>
                    <div class="text-white col-6">@b.Classification</div>
                </div>
                <div class="row col-12">
                    <div class="text-white col-6">$@b.Price</div>
                    <div class="text-white col-6">@b.Category</div>
                </div>
                <div class="row col-12">
                    <div class="text-white col-6">Author: @b.AuthFirstName @b.AuthMidName @b.AuthLastName</div>
                    <div class="text-white col-6">Publisher: @b.Publisher</div>
                </div>
            </div>
        </div>
    }
</div>   